In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import altair as alt
import ipywidgets

In [2]:
df = pd.read_csv('Census_Data_-_Languages_spoken_in_Chicago__2008___2012.csv')
df

,Community Area,Community Area Name,PREDOMINANT NON-ENGLISH LANGUAGE (%),AFRICAN LANGUAGES,ARABIC,ARMENIAN,CAMBODIAN (MON-KHMER),CHINESE,CREOLE,FRENCH,...,RUSSIAN,SCANDINAVIAN,SERBO-CROATIAN,SPANISH,TAGALOG,THAI,UNSPECIFIED,URDU,VIETNAMESE,YIDDISH
0,1,Rogers Park,SPANISH (9.9%),332,165,65,19,215,271,94,...,201,0,66,5302,106,0,14,85,0,5
1,2,West Ridge,SPANISH (8.7%),374,1500,2,0,939,110,115,...,486,0,1034,5889,323,69,846,1539,1028,121
2,3,Uptown,SPANISH (4.9%),750,58,0,13,462,0,79,...,603,0,233,2584,343,72,0,287,548,0
3,4,Lincoln Square,SPANISH (8.4%),127,106,31,0,117,12,40,...,88,0,250,2994,160,62,267,152,131,0
4,5,North Center,SPANISH (4.2%),0,0,0,0,37,0,20,...,10,0,43,1260,76,0,9,0,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,74,Mount Greenwood,SPANISH (0.5%),0,0,0,0,47,0,0,...,8,0,0,89,24,0,0,0,0,0
74,75,Morgan Park,SPANISH (0.6%),0,0,0,0,0,0,32,...,37,5,0,126,0,0,0,0,0,0
75,76,O'Hare,POLISH (11.8%),0,329,0,0,12,0,0,...,77,0,437,515,113,15,0,74,0,0
76,77,Edgewater,SPANISH (4.6%),699,77,12,0,519,0,43,...,697,0,520,2415,163,95,0,148,257,0
77,0,Chicago,SPANISH (11.3%),4365,5502,192,517,22685,792,2344,...,4264,27,5332,285386,5870,1460,1805,3214,4201,126

In [3]:
columns = df['Community Area Name'].values.tolist()
columns.remove('Chicago')
languages = df.columns.tolist()
languages.remove('Community Area')
languages.remove('Community Area Name')
languages.remove('PREDOMINANT NON-ENGLISH LANGUAGE (%)')

@ipywidgets.interact(CommunityName = columns)
def make_bar_plot(CommunityName):
    x = languages
    y = df[df['Community Area Name'] == CommunityName][languages].values[0]
    plt.xticks(rotation = 90)
    plt.tick_params(axis='x', labelsize=8)
    plt.title(CommunityName)
    plt.xlabel('Language')
    plt.ylabel('Number of Speakers')
    plt.bar(x, y)
    plt.show()

interactive(children=(Dropdown(description='CommunityName', options=('Rogers Park', 'West Ridge', 'Uptown', 'Lâ€¦